.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

.wrapper {
    margin-top: 15px;
    background-color: #fcfcfc;
    border: 1px solid #3c3f41;
    letter-spacing: 2px;
}

.tree ul {
    border-left: 1px dashed #3c3f41;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
}

